<h1>Where in the world can I use Xoom services?</h1>
<p>The lightest orange countries offer 1 Xoom service, and the darkest orange offer 5 Xoom services. Roll over any orange country to see what services are available there, or click on a country to see a larger image of it.</p>
<div id="js-regions-container" class="map-container"></div>

<h2 id="js-country-heading"></h2>
<div id="js-country-container" class="map-container"></div>
