<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css" rel="stylesheet">
    <link href="/css/layout.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/maps.js"></script>
    <script type="text/javascript">

        var apiData="{{#each data}}{{countryItemLatitude}},{{countryItemLongitude}}/{{/each}}";
        maps.init(apiData);

    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
